LOGIN=
DOMAIN_NAME=
COMPOSE_PROJECT_NAME=
ALPINE_VERSION=

# For MacOS
#DOCKER_DATA=~/dockerdata
# For Linux
DOCKER_DATA=/home/$(LOGIN)/data

# CERTIFICATES

# MYSQL SETUP
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=

# WORDPRESS SETUP
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=
WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=
